<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ui-bootstrap-csp.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <link href="~/Content/ui-grid.css" rel="stylesheet" />
    <link href="~/Layouts/Styles/styles.css" rel="stylesheet" />
    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" type="text/css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>

    <script src="~/Scripts/angular-locale_uk.js"></script>
    <script src="~/Scripts/angular-base64-upload.js"></script>

    <script src="~/Scripts/ui-grid.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-modal-service.js"></script>
    <script src="~/Layouts/app.js"></script>
    <script src="~/Layouts/custom.js"></script>
    <script src="~/Layouts/ExceptionOverrideModule.js"></script>
    <script src="~/Scripts/angucomplete-alt.js"></script>

    <script src="~/Layouts/Controllers/parentInfoController.js"></script>
    <script src="~/Layouts/Controllers/parentsController.js"></script>
    <script src="~/Layouts/Controllers/newsController.js"></script>
    <script src="~/Layouts/Controllers/newsAdminController.js"></script>
    <script src="~/Layouts/Controllers/schoolController.js"></script>
    <script src="~/Layouts/Controllers/pupilsController.js"></script>
    <script src="~/Layouts/Controllers/pupilInfoController.js"></script>
    <script src="~/Layouts/Controllers/subjectsController.js"></script>
    <script src="~/Layouts/Controllers/teacherInfoController.js"></script>
    <script src="~/Layouts/Controllers/groupsController.js"></script>
    <script src="~/Layouts/Controllers/holidaysController.js"></script>
    <script src="~/Layouts/Controllers/teachersController.js"></script>
    <script src="~/Layouts/Controllers/journalController .js"></script>
    <script src="~/Layouts/Controllers/diaryController.js"></script>
    <script src="~/Layouts/Controllers/scheduleController.js"></script>
    <script src="~/Layouts/Controllers/lessondetailController.js"></script>
    <script src="~/Layouts/Controllers/groupDetailsController.js"></script>
    <script src="~/Layouts/Controllers/permissionController.js"></script>
    <script src="~/Layouts/Controllers/ScheduleDirectiveController.js"></script>

    <script src="~/Layouts/Services/parentsService.js"></script>
    <script src="~/Layouts/Services/newsService.js"></script>
    <script src="~/Layouts/Services/schoolService.js"></script>
    <script src="~/Layouts/Services/pupilsService.js"></script>
    <script src="~/Layouts/Services/subjectsService.js"></script>
    <script src="~/Layouts/Services/teacherInfoService.js"></script>
    <script src="~/Layouts/Services/teachersServices.js"></script>
    <script src="~/Layouts/Services/groupsService.js"></script>
    <script src="~/Layouts/Services/GroupDetailsService.js"></script>
    <script src="~/Layouts/Services/journalService.js"></script>
    <script src="~/Layouts/Services/diaryService.js"></script>
    <script src="~/Layouts/Services/scheduleService.js"></script>
    <script src="~/Layouts/Services/holidaysService.js"></script>
    <script src="~/Layouts/Services/lessondetailService.js"></script>

    <script src="~/Layouts/ModalControllers/parentModalControllers.js"></script>
    <script src="~/Layouts/ModalControllers/parentModalService.js"></script>
    <script src="~/Layouts/ModalControllers/pupilModalServices.js"></script>
    <script src="~/Layouts/ModalControllers/pupilModalControllers.js"></script>
    <script src="~/Layouts/ModalControllers/teacherModalService.js"></script>
    <script src="~/Layouts/ModalControllers/addTeacherController.js"></script>
    <script src="~/Layouts/ModalControllers/addAnnouncementController.js"></script>
    <script src="~/Layouts/ModalControllers/announcementModalService.js"></script>
    <script src="~/Layouts/ModalControllers/addCategoryController.js"></script>
    <script src="~/Layouts/ModalControllers/CategoryModalService.js"></script>
    <script src="~/Layouts/ModalControllers/addDegreeController.js"></script>
    <script src="~/Layouts/ModalControllers/degreeModalService.js"></script>
    <script src="~/Layouts/ModalControllers/FilterScheduleController.js"></script>
    <script src="~/Layouts/ModalControllers/groupModalService.js"></script>
    <script src="~/Layouts/ModalControllers/groupModalController.js"></script>
    <script src="~/Layouts/ModalControllers/subjectModalService.js"></script>
    <script src="~/Layouts/ModalControllers/subjectModalController.js"></script>

    <script src="~/Layouts/Directives/ScheduleDirective.js"></script>

    <script src="~/Scripts/angular-block-ui.js"></script>
    <link href="~/Content/angular-block-ui.css" rel="stylesheet" />
    <script src="~/Scripts/angular-block-ui.min.js"></script>
    <link href="~/Content/angular-block-ui.min.css" rel="stylesheet" />

</head>
<body ng-app="myApp">
    @*<div id ="top-content" class="leftmenu navbar  navbar-default navbar-fixed-top" role="navigation" >
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">SchoolProject</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-btn">
                        <a ui-sref="myprofile">Ви зайшли як <b>@Context.User.Identity.Name</b></a>
                    </li>
                    <li class="navbar-btn">
                        <a href="account/logout">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">

            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="navigation responsive-menu">
            <ul class="main-menu">
                @foreach (var link in ViewBag.Links)
                {
                    <li class=@link.Value><a ui-sref=@link.Value>@link.Key</a></li>
                }
            </ul>
        </div>
    </div> 

       
     <div id="main-sidebar" class="hidden-xs hidden-sm">
            <div class="logo">
                <a ui-sref="myprofile"><img src="~/Layouts/Images/user.png"/> Ви зайшли як <b>@Context.User.Identity.Name</b></a>
                <a href="account/logout">Вийти</a>
            </div> 
            <div class="navigation">
                <ul class="main-menu">
                    @foreach(var link in ViewBag.Links)
                    {
                        <li class=@link.Value><a ui-sref=@link.Value>@link.Key</a></li>
                    }
                </ul>
            </div>
    </div>
        
    
    <div class="spacer" style="clear: both;"></div>
        
    <div id="main-content">
            <div ui-view></div>
    </div>

    @*<nav id="main-sidebar" class="pushy pushy-open">
                <div class="col-sm-2 sidebar affix">

                    <ul class="nav nav-sidebar">
                        @foreach (var i in ViewBag.Links)
                        {
                            <li class="btn nav-tabs"><a ui-sref=@i.Value class="btn-default">@i.Key</a></li>
                        }
                    </ul>
                </div>
            </nav>*@

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    @RenderBody()

</body>

</html>